body{
    color: rgb(255, 255, 255);
    background-color: black;
}
section{
   background: rgb(202, 195, 195);
   padding-bottom: 80px;
   padding-top: 80px;
   display: flex;
   justify-content: center;
}
