body{
    color: rgb(255, 255, 255);
    background-color: rgb(210, 204, 27);
}
section{
   background: rgb(21, 20, 20);
   padding-bottom: 80px;
   padding-top: 80px;
   display: flex;
   justify-content: center;
}
